@page
@model GenerateRecoveryCodesModel
@{
    ViewData["Title"] = "Generate Two-Factor Authentication (2FA) Recovery Codes";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <nav class="col-md-3 col-lg-2 d-md-block bg-body-tertiary sidebar">
            <div class="position-sticky pt-3">
                <partial name="_ManageNav"/>
            </div>
        </nav>

        <!-- Main Content -->
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h3">@ViewData["Title"]</h1>
            </div>

            <partial name="_StatusMessage" for="StatusMessage"/>

            <div class="alert alert-warning" role="alert">
                <p>
                    <strong>Put these codes in a safe place.</strong>
                </p>
                <p>
                    If you lose your device and don't have the recovery codes, you will lose access to your account.
                </p>
                <p>
                    Generating new recovery codes does not change the keys used in authenticator apps. If you wish to change the key
                    used in an authenticator app, you should <a asp-page="./ResetAuthenticator">reset your authenticator keys.</a>
                </p>
            </div>

            <div>
                <form method="post">
                    <button class="btn btn-danger btn-lg" type="submit">Generate Recovery Codes</button>
                </form>
            </div>
        </main>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}